<% @users.each do |user| %>
  <div>
    <%= user.email %>
    <%= link_to('Edit', edit_user_path(user)) if policy(user).update? %>
    <%= link_to('Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }) if policy(user).destroy? %>
  </div>
<% end %>


<div class="mt-3">
  <%= link_to 'Add a User', new_user_path, class: 'btn-sm btn-blue-outline' %>
</div>
