<% provide(:title, 'Editing User - Next Visit') %>
<h1>Editing User</h1>

<%= render 'form', user: @user %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', account_path(current_user.account_id) %>
